<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All" 
    [(ngModel)]="SelectedRadioButtonValue"
    (change) = "RadioButtonSelectionChange()">
    <span>{{'All product('+All+') '}}  </span>
     
    <input type="radio" name="filter" value="PriceLess" 
    [(ngModel)]="SelectedRadioButtonValue"
    (change) = "RadioButtonSelectionChange()">
    <span>{{'Price less than 2000 ('+PriceLess+')'}} </span>

    <input type="radio" name="filter" value="PriceMore" 
    [(ngModel)]="SelectedRadioButtonValue"
    (change) = "RadioButtonSelectionChange()">
    <span>{{'Price more than or equal 2000('+PriceMore+')'}}</span>
</div>
